// POKEDEX PAGE BOILERPLATE STYLING
.pokedex-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    .navbar-circle {
        background-color: $accent-primary-color;
        height: 100px;
        width: 100px;
    
        border-radius: 50%;
    
        position: relative;
        top: -20px;
    
        z-index: 5;
    }

    .pokeball-link {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 0px;
            position: absolute;
            top: 10px;

            transform: rotate(0deg);
            transition-property: height, transform;
            transition-duration: 2s;

            cursor: pointer;
            z-index: 6;
        }
    }

    .search-bar {
        background: none;
        border: none;

        color: $text-primary-light-color;
        font-size: 1.2em;
        border-bottom: 2px solid white;

        padding: 10px;
        width: 87%;
        height: 40px;

        &:focus {
            outline: none;
        }
    }
}

.grid-container {
    width: 100%;
    padding: 25px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;

    .pokebox, img, .name, .type {
        filter: $filter-dropshadow-primary;
    }

    .pokebox {
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        height: 200px;

        &::after {
            content: '';
            background-color: $container-primary-dark-color;

            width: 100%;
            height: 10px;

            position: absolute;
            top: 80px;
        }

        img, .details-container {
            position: absolute;
            position: absolute;
        }

        img {
            width: 100px;
            top: 10px;
            z-index: 1;
        }

        .details-container {
            width: 100px;
            top: 135px;

            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px;

            .name {
                background-color: $container-primary-dark-color;
                border-radius: 0.3em;
                padding: 2.5px;
                width: 100%;
                font-size: 0.9em;
                text-align: center;
            }

            .type {
                display: flex;
                justify-content: center;
                align-items: center;
                
                border-radius: 0.8em;
                background-color: $container-primary-dark-color;
                padding: 5px;

                font-size: 0.7em;
                font-weight: 200;
            }
        }
    }
}