// WELCOME PAGE BOILERPLATE STYLING
.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .home-pokeball, .welcome-text, .launch-text {
        filter: $filter-dropshadow-primary;
    }

    .home-pokeball {
        height: 200px;
        margin-top: 80px;
    }

    form {
        input {
            border: none;
            background: none;
            border-bottom: 2px solid white;
            padding: 5px;
            text-align: center;

            color: $accent-primary-color;

            &:focus {
                outline: none;
                color: $text-primary-light-color;
            }
        }
    }

    .welcome-text {
        font-size: 2.5em;
        margin-top: 60px;
    }

    .user-text {
        font-size: 1.5em;
        padding-top: 10px;
    }

    .launch-button {
        background-color: $container-primary-light-color;
        padding: 20px 50px;
        margin-top: 60px;
        
        border-radius: 2em;
        border: none;
        filter: $filter-dropshadow-primary;

        color: $text-primary-dark-color;
        font-size: 1.5em;
        cursor: pointer;
    }
}

.nav-bar {
    background-color: $accent-primary-color;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
}

// LAUNCH ANIMATIONS
    .nav-bar {
        transition-property: height;
        transition-duration: 1s;
    }