@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

// SCSS FILES
@import './mixins';
@import './variables';

@import './welcome-page';
@import './pokedex-page';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: $container-primary-dark-color;

    font-family: 'Quicksand', sans-serif;
    color: $text-primary-light-color;
}

.nav-bar {
    background-color: $accent-primary-color;
    width: 100%;
    height: 40px;
    
    position: absolute;
    bottom: 0px;
}

// LAUNCH ANIMATIONS
    .nav-bar {
        transition-property: height;
        transition-duration: 1s;
    }
