@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

// OTHER SCSS FILES
@import './mixins';
@import './variables';

@import './welcome-page';
@import './pokedex-page';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: $container-primary-dark-color;

    font-family: 'Quicksand', sans-serif;
    color: $text-primary-light-color;
}

